body {
    /* background-image: url(img/F1.jpg);*/
    background-image: url(img/F6.jpg);
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    
}
 
h1 {
    font-family:'Courier New', Courier, monospace;
    font-size: 2rem;
}
 
label {
    width: 300px;
    display: inline-block;
    text-align:center;
    font-size: 1.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:darkmagenta;
}
 
input {
    border: 2px solid rgb(167, 164, 164);
    font-size: 1rem;
    font-weight: 100;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    position: right;
}
 
form {
    border: 2px solid rgb(154, 11, 162);
    background:lightsalmon;
    text-align: center;
    width: 550px;
}
 
div.form-element {
    margin: 10px 10;
    text-align:center;
   /* width: 500px;*/
}
 
button {
    padding: 10px;
    font-size: 1.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    background:lime;
    color: white;
    border: none;
}
b {
    font-size: 1.5rem;
    /*font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;*/
}

/*pre{
    position: absolute;
}
*/

