body {
    /*background-color: darksalmon;*/
    background-image: url(img/F2.jpg);
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
}
 
h1 {
    font-family:'Courier New', Courier, monospace;
    font-size: 2rem;
    color:deeppink;
}
 
label {
    width: 300px;
    display: inline-block;
    text-align:center;
    font-size: 1.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:green;
}
 
input {
    border: 2px solid rgb(167, 164, 164);
    font-size: 1rem;
    font-weight: 100;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    position: right;
    width: 400px;
}
 
form {
    border: 2px solid rgb(226, 18, 18);
    background:violet;
    text-align:center;
    width: 200px;
}
 
div.form-element {
    margin: 10px 20;
    text-align:center;
}
 
/*button {
    padding: 10px;
    font-size: 1.5rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    background:lime;
    color: white;
    border: none;
}*/

b {
    font-size: 1.5rem;
}
